<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | Forget Password</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
    <style>
        body {
            font-family: 'Roboto', serif;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            {% if message.tags == "forget_password error" %}
                            <div  class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == "forget_password info" %}
                            <div  class="alert alert-info">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form action="{% url 'forget_password' %}" method="post">
                        {% csrf_token %}
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="lg-username">Username</label>
                            <input type="text" id="lg-username" name="username" class="form-control"
                                placeholder="Username" />
                        </div>
                        <input type="submit" class="btn btn-primary px-5" value="Submit">
                    </form>

                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>